---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-my-domain-v1alpha1-sleep
  failurePolicy: Fail
  name: msleep-v1alpha1.kb.io
  rules:
  - apiGroups:
    - my.domain
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - sleeps
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-my-domain-v1alpha1-sleep
  failurePolicy: Fail
  name: vsleep-v1alpha1.kb.io
  rules:
  - apiGroups:
    - my.domain
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - sleeps
  sideEffects: None
